$color-primary: #000000;
$color-secondary: #111111;
$color-terciary: #333333;
$color-font-gray: #b9b9b9;
$color-white: #ffffff;
$color-white2: #dddddd;
$color-white3: #f0f0f0;
$color-variation: #ceb76c;
$color-variation-dark: #7e7044;
