.Button {
  padding: 2vw 5vw;
  text-transform: uppercase;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  opacity: 1;
  transition: 0.3s;
  will-change: opacity;
}

.transparent {
  color: $color-variation;
  border: 2px solid $color-variation;
  background: transparent;
  transition: 0.3s;
  will-change: color background;
  &:hover {
    color: $color-white;
    background: $color-variation;
  }
}

.gold {
  color: $color-variation;
  border: 2px solid;
  background: transparent;
}

@media screen and (min-width: 1099px) {
  .Button {
    padding: 0.5vw 2.5vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4vw;
  }
}
