.Hero {
}

.hero-container {
  width: 85%;
  margin: 43vw 0 0;
}

.hero-container img {
  width: 45vw;
}

.hero-container h2 {
  width: 70%;
  margin: 1vw 0 4vw;
  font-weight: 400;
}

@media screen and (min-width: 1099px) {
  .Hero {
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0);
  }

  .hero-container {
    width: 100%;
    margin: 10vw 0 0;
  }

  .hero-container h2 {
    width: 30%;
    margin: 0.5vw 0 1.5vw;
  }

  .hero-container img {
    width: 20vw;
  }
}
