.Franquicias {
  position: relative;
  z-index: 2;
  padding: 5vw 0;
  background-color: #111111;
  background-image: url(../../assets/franquicias-bg2.JPG);
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
}

.franquicias-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.Franquicias p {
  text-align: center;
  margin-bottom: 0.5vw;
  font-size: 1.2vw;
  color: $color-white;
}
