.Franquicias {
  position: relative;
  z-index: 2;
  background-position: top;
  color: $color-secondary;
}

.franquicias-subtitle {
  margin: 1vw 0 5vw;
}

@media screen and (min-width: 1099px) {
  .Franquicias {
  }
  .franquicias-subtitle {
    margin-bottom: 0vw;
  }
}
