.Beneficios {
  background-image: url("../../assets/beneficios-bg4.jpeg");
  background-image: url("../../assets/sucursales-bg-3.jpg");

  background-image: url("../../assets/beneficios-bg.svg");
  background-image: url("../../assets/bg-benef2.jpg");
  background-size: 100%;
  background-position: center 60%;
  background-color: $color-secondary;
}

.brands-container {
  width: 100%;
  padding: 1vw 0;
  overflow: hidden;
  border-radius: 0;
  background-color: rgba(17, 17, 17, 0.9);
}

.brands-wrapper {
  width: 400%;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: logosAnimation;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  will-change: margin;
}

.brands-logo-container {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands-logo-image {
  transform: scale(1.15);
  &__osde {
    width: 50%;
  }
  &__ase {
    width: 60%;
  }
  &__swiss {
    width: 80%;
  }
  &__medife {
    width: 60%;
  }
  &__sport {
    width: 50%;
  }
  &__shell {
    width: 50%;
  }
  &__nacion {
    width: 60%;
  }
  &__brubank {
    width: 60%;
  }
  &__siglo {
    width: 90%;
  }
  &__amigos {
    width: 60%;
  }
  &__usal {
    width: 60%;
  }
  &__paseo {
    width: 100%;
  }
  &__ankura {
    width: 60%;
  }
}

@keyframes logosAnimation {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -246%;
  }
}

@media screen and (min-width: 1099px) {
  .Beneficios {
  }

  .brands-container {
    padding: 1vw 0;
    margin: 4vw 0 6vw;
    border-radius: 1vw;
    border: 2px solid $color-terciary;
  }

  .brands-wrapper {
    width: 260%;
  }

  .brands-logo-container {
    width: 20%;
  }

  .brands-logo-image {
    transition: 0.5s;
    will-change: transform;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }

  @keyframes logosAnimation {
    0% {
      margin-left: 0%;
    }
    100% {
      margin-left: -160%;
    }
  }
}
