.Footer {
  background-color: $color-secondary;
  padding: 5vw 0;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container img {
  width: 60vw;
}

@media screen and (min-width: 1099px) {
  .Footer {
    padding: 2vw 0;
  }

  .footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-container img {
    width: 15vw;
  }
}
